
.muForm input{
  
    border-radius: 8px;
    padding: 3px;
    align-self: center;
}

.myForm button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color:blue;
  background: rgb(232, 208, 208);;
  border-radius: 8px;
  padding: 4px;
  margin-top: 20px;
}

.myForm {
  border: solid rgb(38, 132, 38, 0.7) 3px;
  border-radius: 10px;
  padding: 18px 12px;
  display: flex;
  flex-direction: column;
}

.title{
    font-size: 26px;
    color: orange;
}

.title > span {
  color: rgb(238, 238, 17);
}

.passwordConfirmed {
    background: url('/icons8-x-16.png') no-repeat right;
    background-color: tomato;
    background-size: 20px 20px;
}

.valid {
    background: url('/public/emblemok_103757.svg') no-repeat right;
    background-size: auto 100%;
    background-color: aqua;
}

.invalid {
    background: url('/public/icons8-x-16.png') no-repeat right;
    background-color: tomato;
    background-size: 20px 20px;
}

.errorText {
  color: red;
}
